*´{
    margin: 0px;
    padding: 0px;

}

div#header{
    width: 100%;
    height: 130px;
    background-color: black;

}

/* logo xtheater */
img{
    height: 150px; /*altura de la imagen */
    width: 350px;;
    position: relative;
    left: 0px;
    height: 130px;
}